@import "../.colors/waybar-colors.css";

/**********************************************************
 *                         GENERAL                        *
 **********************************************************/

/*****************************
 * GENERAL
 *****************************/

* {
    font-family: FontAwesome;
    font-size: 1rem;
}

window#waybar {
    transition-duration: .5s;
    transition-property: background-color;
    background: transparent;
}

.modules-left, .modules-right, .modules-center {
    margin: 10px 10px 0 10px;
}

/*****************************
 * BASE MODULES
 *****************************/

#performance,
#status,
#clock,
#mode,
#idle_inhibitor,
#workspaces,
#workspaces button,
#privacy-item {
    padding: 5px 15px;
    margin: 0;
    border: none;
    border-radius: 10px;
    color: @primary;
    background: @surface;
}

/**********************************************************
 *                         GROUPS                         *
 **********************************************************/

/*****************************
 * PERFORMANCE
 *****************************/

#performance .drawer-child {
    padding: 100px;
}

#memory,
#cpu,
#custom-nvidia {
    padding: 0 5px;
    min-width: 50px;
}

#custom-separator {
    padding: 0 5px;
}

/*****************************
 * STATUS
 *****************************/

#tray,
#privacy-item,
#custom-notifications {
    padding: 0 5px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @on_error;
    background-color: @error;
}

/**********************************************************
 *                      OTHER MODULES                     *
 **********************************************************/

/*****************************
 * WORKSPACES
 *****************************/

#workspaces button {
    margin: 0 5px;
    min-width: 15px;
}

#workspaces button:hover {
    color: @on_tertiary;
    background: @tertiary;
}

#workspaces button.urgent {
    color: @on_error;
    background: @error;
}

#workspaces button.active {
    color: @on_secondary;
    background: @secondary;
}

/*****************************
 * CLOCK
 *****************************/

#clock {
    font-family: monospace;
}

/*****************************
 * IDLE INHIBITOR
 *****************************/

#idle_inhibitor.activated {
    color: @on_primary;
    background: @primary;
}
